@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

header {
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  align-items: center;
  margin-inline: auto;
  background-color: #F5F7FA;
  position: sticky;
  top: 0;
  z-index: 100;
}
header button {
  background-color: transparent;
  border: 0;
}
header a {
  text-decoration: none;
}
header .header-navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .header-navbar a {
  text-decoration: none;
  color: #18191F;
}
header .header-navbar a:hover {
  color: #4CAF4F;
}
header .header-navbar .menu-hid {
  display: flex;
  gap: 10px;
  align-items: center;
  gap: 14px;
  display: none;
}
header .header-navbar .menu-hid .header-login_cta {
  color: #4CAF4F;
}
header .header-navbar .menu-hid .header-signUp_cta {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF4F;
  color: #fff;
}
header .header-navbar_secondary {
  display: flex;
  gap: 10px;
  gap: 14px;
  align-items: center;
}
header .header-navbar_secondary .header-login_cta {
  color: #4CAF4F;
}
header .header-navbar_secondary .header-login_cta:hover {
  color: #000;
}
header .header-navbar_secondary .header-signUp_cta {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF4F;
  color: #fff;
  transition: all 0.3s ease-in;
}
header .header-navbar_secondary .header-signUp_cta:hover {
  background-color: #000;
}
header .fas {
  display: none;
  position: absolute;
  right: 20px;
  top: 28px;
  color: green;
  font-size: 30px;
}

@media (max-width: 992px) {
  header {
    justify-content: start;
    padding-inline: 10px;
  }
  .header-navbar {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: -100%;
    background-color: #F5F7FA;
    align-items: center;
    display: none;
    width: 70%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    top: 0;
    transition: right 0.5s ease-in;
  }
  .header-navbar.open {
    right: 0;
    display: flex;
  }
  .fas {
    display: block !important;
  }
  .menu-hid {
    display: flex !important;
  }
  .header-navbar_secondary {
    display: none !important;
  }
}
.insights__container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #F5F7FA;
  padding-block: 96px;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}
.insights__container .insights__content {
  max-width: 657px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.insights__container .insights__content h1 {
  font-size: 64px;
  color: #4D4D4D;
  font-weight: bold;
}
.insights__container .insights__content h1 span {
  color: #4CAF4F;
}
.insights__container .insights__content p {
  color: #717171;
}
.insights__container .insights__content a {
  text-decoration: none;
  background-color: #4CAF4F;
  border-radius: 5px;
  padding: 14px 32px;
  color: #fff;
  max-width: 128px;
  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in;
  z-index: 0;
}
.insights__container .insights__content a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.3s ease-in;
}
.insights__container .insights__content a:hover::after {
  width: 100%;
}
.insights__container .insights-image {
  max-width: 391px;
  overflow: hidden;
}
.insights__container .insights-image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 992px) {
  .insights__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    gap: 40px;
  }
  .insights__content {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .insights__content h1 {
    font-size: 30px !important;
  }
}
.pagination {
  max-width: 46px;
  display: flex;
  gap: 10px;
  margin-inline: auto;
  position: absolute;
  bottom: 16px;
}
.pagination div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.pagination .pagination-first {
  background-color: #4CAF4F;
  cursor: pointer;
}
.pagination .pagination-div {
  background: rgba(76, 175, 79, 0.6);
  cursor: pointer;
}

.clients-section__container {
  max-width: 1440px;
  margin-block: 40px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.clients-section__container .clients-section__header {
  text-align: center;
}
.clients-section__container .clients-section__header h2 {
  font-size: 36px;
  color: #4D4D4D;
  margin-bottom: 8px;
  font-weight: 600;
}
.clients-section__container .clients-section__header p {
  color: #717171;
}
.clients-section__container .clients-section__logos {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .clients-section__container .clients-section__logos {
    flex-direction: column;
  }
}

.cards-container {
  max-width: 1440px;
  margin-bottom: 42px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.cards-container .cards__header {
  max-width: 542px;
  text-align: center;
  margin-inline: auto;
}
.cards-container .cards__header h3 {
  font-size: 36px;
  color: #4D4D4D;
  font-weight: 600;
}
.cards-container .cards__header p {
  color: #717171;
}
.cards-container .cards__content {
  display: flex;
  justify-content: space-evenly;
}
.cards-container .cards__content .card {
  max-width: 299px;
  box-shadow: 3px 3px 0 1px rgba(171, 190, 209, 0.6862745098);
  padding: 24px 19px;
  position: relative;
  text-align: center;
  border-radius: 10px;
}
.cards-container .cards__content .card .cards__content-text {
  text-align: center;
}
.cards-container .cards__content .card .cards__content-text h3 {
  font-size: 28px;
  color: #4D4D4D;
  font-weight: 700;
  margin-bottom: 8px;
  margin-top: 16px;
}
.cards-container .cards__content .card .cards__content-text p {
  font-size: 14px;
  color: #717171;
}
.cards-container .cards__content .card img {
  z-index: 100;
}
.cards-container .cards__content .card span {
  width: 50px;
  height: 50px;
  background-color: #E8F5E9;
  border-top-left-radius: 10px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
  position: absolute;
  right: 107px;
  top: 31px;
  z-index: -1;
}
@media (max-width: 992px) {
  .cards-container .cards__content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}