* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  max-width: 1440px;
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  align-items: center;
  margin-inline: auto;
  background-color: #F5F7FA;
}
header button {
  background-color: transparent;
  border: 0;
}
header a {
  text-decoration: none;
}
header .header-navbar {
  display: flex;
  gap: 50px;
  align-items: center;
}
header .header-navbar a {
  text-decoration: none;
  color: #18191F;
}
header .header-navbar a:hover {
  color: #4CAF4F;
}
header .header-navbar .menu-hid {
  display: flex;
  gap: 10px;
  align-items: center;
  gap: 14px;
  display: none;
}
header .header-navbar .menu-hid .header-login_cta {
  color: #fff;
}
header .header-navbar .menu-hid .header-signUp_cta {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF4F;
  color: #fff;
}
header .header-navbar_secondary {
  display: flex;
  gap: 10px;
  gap: 14px;
  align-items: center;
}
header .header-navbar_secondary .header-login_cta {
  color: #4CAF4F;
}
header .header-navbar_secondary .header-login_cta:hover {
  color: #000;
}
header .header-navbar_secondary .header-signUp_cta {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF4F;
  color: #fff;
  transition: all 0.3s ease-in;
}
header .header-navbar_secondary .header-signUp_cta:hover {
  background-color: #000;
}
header .fas {
  display: none;
  position: absolute;
  right: 20px;
  top: 28px;
  color: green;
  font-size: 30px;
}

@media (max-width: 992px) {
  header {
    justify-content: start;
    padding-inline: 10px;
  }
  .header-navbar {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    right: -100%;
    background-color: #F5F7FA;
    align-items: center;
    display: none;
    width: 70%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    top: 0;
    transition: right 0.5s ease-in;
  }
  .header-navbar.open {
    right: 0;
    display: flex;
  }
  .fas {
    display: block !important;
  }
  .menu-hid {
    display: flex !important;
  }
  .header-navbar_secondary {
    display: none !important;
  }
}
.insights__container {
  max-width: 1440px;
  margin-inline: auto;
  background-color: #F5F7FA;
  padding-block: 161px;
  display: flex;
  justify-content: space-evenly;
}
.insights__container .insights__content {
  max-width: 657px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.insights__container .insights__content h1 {
  font-size: 64px;
  color: #4D4D4D;
  font-weight: bold;
}
.insights__container .insights__content h1 span {
  color: #4CAF4F;
}
.insights__container .insights__content p {
  color: #717171;
}
.insights__container .insights__content a {
  text-decoration: none;
  background-color: #4CAF4F;
  border-radius: 5px;
  padding: 14px 32px;
  color: #fff;
  max-width: 128px;
}
.insights__container .insights-image {
  max-width: 391px;
  overflow: hidden;
}
.insights__container .insights-image img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 992px) {
  .insights__container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 50px;
    gap: 40px;
  }
  .insights__content {
    align-items: center;
    text-align: center;
  }
}