.cards-container {
  max-width: 1440px;
  margin-bottom: 42px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .cards__header {
    max-width: 524px;
    text-align: center;
    margin-inline: auto;

    h2 {
      font-size: $md-font-size;
      color: $primary-color;
      font-weight: 600;
    }

    p {
      color: $sm-font-color;
    }
  }

  .cards__content {
    display: flex;
    justify-content: space-evenly;

    .card {
      max-width: 299px;
      box-shadow: 3px 3px 0 1px #abbed1af;
      padding: 24px 19px;
      position: relative;
      text-align: center;
      border-radius: 10px;

      .cards__content-text {
        text-align: center;

        h3 {
          font-size: $sm-font-size;
          color: $primary-color;
          font-weight: 700;
          margin-bottom: 8px;
          margin-top: 16px;
        }

        p {
          font-size: 14px;
          color: $sm-font-color;
        }
      }

      img {
        z-index: 100;
      }

      span {
        width: 50px;
        height: 50px;
        background-color: #E8F5E9;
        border-top-left-radius: 10px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 10px;
        position: absolute;
        right: 107px;
        top: 31px;
        z-index: -1;
      }
    }
  }

  @media (max-width:992px) {
    .cards__content {
      flex-direction: column;
      gap: 20px;
      align-items: center;
      padding-inline: 10px;
    }
  }
}