.cta-section__container {
  max-width: 1440px;
  margin-inline: auto;
  text-align: center;
  background: $primary-bg-color;
  padding-block: 32px;

  h2 {
    font-size: $lg-font-size;
    font-weight: 700;
    color: $primary-color;
    margin-bottom: 46px;
  }

  a {
    text-decoration: none;
    padding: 14px 32px;
    background: $btn-bg-color;
    color: #fff;
    border-radius: 5px;
    max-width: 178px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-align: center;

    span {
      display: inline-flex;
      align-items: center;
    }

    &:hover span {
      animation: move-arrow 0.5s ease-in-out infinite;
    }


    @keyframes move-arrow {
      0% {
        transform: translateX(0);
      }
      50% {
      transform: translateX(5px);
      }
      100% {
      transform: translateX(0);
      }
    }
  }

  @media (max-width:778px) {

    .cta-section__container {
      padding-inline: 10px;
    }
    h2 {
      font-size: $md-font-size;
    }
  }
}