$primary-color: #4D4D4D;
$secondary-color: #4CAF4F;
$sm-font-color: #717171;
$btn-bg-color: #4CAF4F;
$lg-font-size: 64px;
$md-font-size:36px;
$sm-font-size:28px;
$card-box-shadow: 2px 4px #ABBED1;
$secondary-shadow: 2px 4px 6px 8px 16px #F5F7FA;
$primary-bg-color: #F5F7FA;
$secondary-bg-color: #263238;